In [1]:
#IMPORTS
from pathlib import Path

In [6]:
#DATA
#Change the variable/pbject below to reflect your genre
Adventure = []

#Now we populate the object with strings
for p in Path(f"data/Adventure").glob("*txt"):
    with open(p, mode="r") as f:
        contents = f.read()
        Adventure.append(contents)
        
#If we have the same number as we can see in the folder, we got them all
len(Adventure)

166

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

#Basic vectorizer: no tweaks to parameters
vectorizer = CountVectorizer(min_df = 5 )

#fit the model to the data
matrix = vectorizer.fit_transform(Adventure)

#We'll need these later
vocabulary = vectorizer.get_feature_names_out()

#This will repeat our screenplay count
#but also report our overall vocabulary FOR ALL SCREENPLAYS
matrix.shape

(166, 17560)

In [ ]:
Rows = 5
min_df = 1:56631
min_df = 2: 30699
min_df = 3: 23834
min_df = 4: 20077
min_df = 5: 17560

In [17]:
import pandas as pd

#Load up a dataframe with our DTM
df = pd.DataFrame(matrix.toarray(),
                  columns = vectorizer.get_feature_names_out())
#Check our work:
df.shape
df.head()

,00,000,01,02,03,04,05,06,08,09,...,zippo,zips,zombie,zombies,zone,zoo,zoom,zooming,zooms,zulu
0,4,2,1,2,4,2,3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,51,4,11,5,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4,0,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,1
4,2,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2,0

In [19]:
#First we need to get the file names from the files 
titles= []

for p in Path('data/Adventure/').glob('*.txt'):
    with open(p, mode="r", encoding="utf-16") as f:
        title = p.name[:-4]
        titles.append(title)
#Check
print(titles[50:55])

['fugitivethe', 'g.i.joetheriseofcobra', 'ghostandthedarknessthe', 'ghostbusters2', 'ghostship']